body {
    padding-right: 15%;
    padding-left: 15%;
    margin-bottom: 2%;
    font-family: sans-serif;
}

.img-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
    border-radius : 60%;
}

.Nom {
    font-size: 50px;
    letter-spacing: -4px;
    font-weight: 900;
    text-align: center;
}

.section1 {
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: lightgray;
    font-size: 25px;
    color: gray;
}
.section2 {
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: lightgray;
}

.emph {
    font-style: italic;
    color: orange;
}

.info {
    padding-top: 5%;
    padding-bottom: 0%;
    column-count: 2;
    column-gap: 70px;
    margin: 0 auto;
    text-align: justify;
}

.date {
    font-weight: 600;
}